#frame-0 {
  width: 80vw;
  height: 45vw;
}

#frame-1 {
  width: 80vw;
  height: 48vw;
}

#frame-2 {
  width: 80vw;
  height: 124.304vw;
}

#frame-3 {
  width: 80vw;
  height: 45.2vw;
}

#frame-4 {
  width: 80vw;
  height: 61.288vw;
}

#frame-5 {
  width: 80vw;
  height: 96.224vw;
}

#frame-6 {
  width: 80vw;
  height: 45vw;
}

#frame-7 {
  width: 80vw;
  height: 50.448vw;
}

#frame-8 {
  width: 80vw;
  height: 53.472vw;
}

#frame-9 {
  width: 80vw;
  height: 48.664vw;
}

#frame-10 {
  width: 80vw;
  height: 33.536vw;
}

#frame-11 {
  width: 80vw;
  height: 33.536vw;
}

#frame-12 {
  width: 80vw;
  height: 41.816vw;
}

#frame-13 {
  width: 80vw;
  height: 41.216vw;
}